<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759020047323-ajcsrfduosphn1pkmcllcd6ngkovat53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759020047323-ajcsrfduosphn1pkmcllcd6ngkovat53</string>
	<key>API_KEY</key>
	<string>AIzaSyDQiN2C-tGkXNnqEIJaRiwIJ0Nx9CH9IYI</string>
	<key>GCM_SENDER_ID</key>
	<string>759020047323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interactiveone.blackplanet</string>
	<key>PROJECT_ID</key>
	<string>bp-neptune---ga4</string>
	<key>STORAGE_BUCKET</key>
	<string>bp-neptune---ga4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759020047323:ios:503423af653b119992b5fe</string>
</dict>
</plist>